@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --primaria: #2563eb;
  --secundaria: #1e3a8a;
  --text-principal: #111827;
  --text-secundario: #6b7280;
  --color-erro: #dc2626;
  --color-sucesso: #10b981;

  /*Cores do Botão*/
  --color-botao:  #2563eb;
  --color-botao-secundaria: #10b981;
  --color-botao-terceira: #0000002b;
  --color-text-botao: #f9fafb;
  --color-text-botao-secundaria: #171717;

  /* Tamanhos e pesos de fonte */
  --font-title-size-min: 16px;
  --font-title-size-max: 24px;
  --font-title-size-min-secundario: 12px;
  --font-title-size-max-secundario: 18px;
  --font-title-weight: 600; /* semibold, use 700 para bold */

  --font-body-size: 16px;
  --font-body-weight: 400; /* regular */

  --font-helper-size-min: 12px;
  --font-helper-size-max: 14px;
  --font-helper-weight: 300; /* leve */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaria: var(--primaria);
  --color-secundaria: var(--secundaria);
  --color-text-principal: var(--text-principal);
  --color-text-secundario: var(--text-secundario);
  --color-erro: var(--color-erro);
  --color-sucesso: var(--color-sucesso);

  --color-botao: var(--color-botao);
  --color-botao-secundaria: var(--color-botao-secundaria);
  --color-botao-terceira: var(--color-botao-terceira);
  --color-text-botao: var(--color-text-botao);
  --color-text-botao-secundaria: var(--color-text-botao-secundaria);

  --color-border-campo: var(--foreground)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
  /*--background: #0a0a0a;
    --foreground: #ededed;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", "Segoe UI", sans-serif;
}

h1 {
  font-size: clamp(var(--font-title-size-min), 2vw, var(--font-title-size-max));
  font-weight: var(--font-title-weight);
}

h2, h3, h4, h5, h6 {
  font-size: clamp(var(--font-title-size-min-secundario), 2vw, var(--font-title-size-max-secundario));
}

body, input, textarea, select, button {
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
}

.small-text, .description {
  font-size: clamp(var(--font-helper-size-min), 1vw, var(--font-helper-size-max));
  font-weight: var(--font-helper-weight);
}